@import "../../styles/settings.scss";

.column {
  width: calc(33% - 12px);
  background: $color-light;
  margin: 0 auto;
  padding: ($base-size * 1.5);
  border-radius: $radius;
  color: $color-dark;

  &:last-child {
    justify-content: center;
    align-items: center;
  }
}
